
* {
    margin: 1;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    
}
.story-script-regular {
    font-family: "Story Script", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  


header {
    background: #222;
    color: white;
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}


.home {
    height: 90vh;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home h2 {
    font-size: 40px;
}

.home span {
    color: yellow;
}
.home p{
    font-size: 20px;
}



.section {
    padding: 60px ;
    text-align: center;
    background-color: gray;
}

.aboutme {
    background: #f2f2f2;
     
}


.skills {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    background-color: gray;
}

.card {
    background:cyan ;
    padding: 20px;
    width: 150px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}





footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
}
.btn {
    margin-top: 20px;
    padding: 10px 20px;
    background: black;
    color: white;
    text-decoration: blanchedalmond;
    border-radius: 5px;
}
.profile-pic{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid white;
    margin-bottom: 20px;

    animation: fadeIn 1.5s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.contact{
    background: rgb(143, 179, 203);
}

.project{
    background-color: gainsboro;
      font-size: medium;
}
.pro1{
    font-size: x-large;
}
.pro2{
    font-size: x-large;
     
}
